@import url("//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE");

$text-color: #272a31;
$higlight-color: #ec5242;
$site-orange: #ff4f38;
$background-color: #f7f7f7;
$font-family: COCOGOOSE, lato, sans-serif;
$text-font-family: Lato, sans-serif;
$top-margin: 1rem;
$white: #fff;
$light-background: #3c3f46;

$breakpoint-desktop: 768px;

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE")
      format("svg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  position: absolute;
  color: $text-color;
  background-color: $background-color;
  font-weight: 400;
  font-size: 16px;
}

q::before,
q::after {
  content: '"';
}

nav {
  position: relative;

  .menu-button {
    color: #636363;
    position: relative;
    top: 1rem;
    left: 2rem;
    font-size: 3rem;
  }

  div {
    display: none;
  }
}

main {
  width: 100%;
  min-height: 600px;
  background-size: cover;

  .header {
    position: relative;
    text-align: left;
    padding: 1.5rem 2rem 4rem;
    top: 3rem;
    opacity: 1;

    q {
      font-family: $text-font-family;
      color: $higlight-color;
      font-weight: 400;
      font-size: 2rem;
    }

    h1 {
      margin-top: 1rem;
      color: $higlight-color;
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
    }

    p {
      font-family: $text-font-family;
      margin-top: $top-margin * 2;
      background-attachment: $background-color;
      border: 3px solid $white;
      padding: 1rem;
      font-weight: 100;
      font-size: 0.9rem;
      line-height: 1.5;
      display: inline-block;
    }

    time {
      margin: $top-margin * 1.5 0 0.5rem;
      display: block;
      font-size: 1.5rem;
    }

    .location {
      font-family: $text-font-family;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }

  .program {
    color: $white;
    text-align: center;
    background-image: url("../../images/sque-tile.png");
    background-repeat: repeat;
    width: 100%;
    min-height: 200px;

    @media screen and (min-width: $breakpoint-desktop) {
      padding: 0 10rem 2rem;
    }

    h2 {
      padding: $top-margin * 2 0;
      font-family: $text-font-family;
      font-size: 1.1rem;
      font-weight: 400;
    }

    div.program-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        justify-content: center;
      }

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2rem;
        background-color: $light-background;
        margin: 0.2rem $top-margin;

        @media screen and (min-width: $breakpoint-desktop) {
          flex-direction: column;
          margin: 0.2rem;
        }

        h6 {
          color: $higlight-color;
          font-family: $text-font-family;
          padding: 1rem;
        }

        p {
          font-family: $text-font-family;
          text-align: center;
        }

        &:hover {
          border: 1px solid $white;
        }
      }
    }

    button[type="button"] {
      margin: 2rem 0;
      padding: 1.5rem 2.5rem;
      background-color: $site-orange;
      color: white;
      border: none;

      @media screen and (min-width: $breakpoint-desktop) {
        display: none;
      }
    }
  }
}
