@import url("//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE");

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src:
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE")
    format("svg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: COCOGOOSE, lato, sans-serif;
  color: #272a31;
  background-color: #f7f7f7;
  font-weight: 400;
  font-size: 16px;
}

q::before,
q::after {
  content: '"';
}

nav {
  position: relative;
}

nav .menu-button {
  color: #636363;
  position: relative;
  top: 1rem;
  left: 2rem;
  font-size: 3rem;
}

nav div {
  display: none;
}

main {
  width: 100%;
  min-height: 600px;
  background-size: cover;
}

main .header {
  position: relative;
  text-align: left;
  padding: 1.5rem 2rem 4rem;
  top: 3rem;
  opacity: 1;
}

main .header q {
  font-family: Lato, sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 2rem;
}

main .header h1 {
  margin-top: 1rem;
  color: #ec5242;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

main .header p {
  font-family: Lato, sans-serif;
  margin-top: 2rem;
  background-attachment: #f7f7f7;
  border: 3px solid #fff;
  padding: 1rem;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1.5;
}

main .header time {
  margin: 1.5rem 0 0.5rem;
  display: block;
  font-size: 1.5rem;
}

main .header .location {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
