@import url("//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE");

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src:
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE")
    format("svg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: COCOGOOSE, lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav {
  position: absolute;
}

nav .menu-button {
  color: #636363;
  position: relative;
  top: 1rem;
  left: 2rem;
  font-size: 3rem;
}

nav div {
  display: none;
}

main .cover {
  width: 100%;
  background-color: "d3d3d3";
}

main {
  background-image: url("./../../images/main-background.jpeg");
  width: 100%;
  min-height: 600px;
  opacity: 0.2;
  background-size: cover;
}
